/*setting alpha = 0.1*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
@keyframes spinner {
  from {
    transform: rotate(1turn);
  }
  to {
    transform: rotate(2turn);
  }
}
@keyframes loading-container {
  0% {
    opacity: 1;
    z-index: 200;
  }
  100% {
    opacity: 0;
    z-index: -200;
  }
}
@keyframes content {
  0% {
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
  }
  100% {
    overflow: visible;
    visibility: visible;
  }
}
@keyframes favorite-fill {
  0% {
    height: 0%;
  }
  50% {
    height: 30%;
  }
  100% {
    height: 60%;
  }
}
@keyframes menu_content {
  0% {
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
  }
  100% {
    overflow: visible;
    visibility: visible;
  }
}
@keyframes price {
  0% {
    transform: translateX(0px);
    z-index: 200;
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(-50px);
    z-index: 200;
  }
}
@keyframes select {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  50% {
    opacity: 1;
    transform: translateX(25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes check {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  50% {
    opacity: 1;
    transform: translateX(15px);
    transform: rotate(1turn);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    transform: rotate(2turn);
  }
}
a {
  text-decoration: none;
  color: black;
}

.far:hover {
  background: -webkit-linear-gradient(-135deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
}
.far:hover:hover + .fas {
  visibility: visible;
  background: -webkit-linear-gradient(-135deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  animation: favorite-fill 1s linear;
}

button:hover {
  opacity: 0.8;
  box-shadow: 2px 2px #8c8c8c;
}

.how-it-works .steps:hover {
  background-color: #f2eafb;
  box-shadow: 2px 2px #bfbfbf;
}
.how-it-works .steps:hover i {
  color: #9356dc;
}

Footer li a:hover {
  color: #99e2d0;
}

Footer {
  background-color: black;
  color: white;
}
Footer a {
  color: white;
  font-weight: 400;
}
Footer .footer-title {
  font-family: Shrikhand;
  padding-bottom: 20px;
}
Footer ul {
  padding: 20px;
  list-style: none;
}
Footer ul li {
  padding-bottom: 5px;
}
Footer ul li i {
  padding-right: 10px;
}

.menu-image {
  width: 100%;
  background-color: lightgrey;
}
.menu-image-header {
  position: relative;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  z-index: 3;
  height: 300px;
}
.menu-image figcaption {
  position: relative;
  z-index: 5;
  max-height: 400px;
  top: -50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 75% 25%;
  height: 50px;
}
.menu-image figcaption h1 {
  margin-left: 20px;
  margin-top: 20px;
  font-family: Shrikhand;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-image figcaption .far {
  position: absolute;
  z-index: 1;
  margin-top: 25px;
  right: 35px;
}
.menu-image figcaption .fas {
  position: absolute;
  z-index: 0;
  visibility: hidden;
  margin-top: 25px;
  right: 35px;
}

.menu-form {
  background-color: lightgrey;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.menu-form .entrees {
  margin-top: -20px;
  visibility: hidden;
  animation-name: menu_content;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.menu-form .entrees-card {
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto 80px;
  box-shadow: 2px 2px #bfbfbf;
  overflow: hidden;
}
.menu-form .entrees-card:hover .select-price {
  animation: price 2s linear forwards;
}
.menu-form .entrees-card:hover .select-check {
  animation: select 2s linear forwards;
}
.menu-form .entrees-card:hover .fa-check-circle {
  animation: check 2s linear forwards;
}
.menu-form .entrees-card .description {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-form .entrees-card .description h3 {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-form .entrees-card .description p {
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-form .entrees-card .select {
  position: relative;
}
.menu-form .entrees-card .select-price {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: white;
  line-height: 15px;
}
.menu-form .entrees-card .select-check {
  position: absolute;
  opacity: 0;
  background-color: #99e2d0;
  color: white;
  right: 0px;
  text-align: center;
  width: 50px;
  height: 63px;
  line-height: 60px;
  z-index: 200;
}
.menu-form .main-dish {
  visibility: hidden;
  animation: menu_content 3s 2s forwards;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.menu-form .main-dish-card {
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto 80px;
  box-shadow: 2px 2px #bfbfbf;
  overflow: hidden;
}
.menu-form .main-dish-card:hover .select-price {
  animation: price 2s linear forwards;
}
.menu-form .main-dish-card:hover .select-check {
  animation: select 2s linear forwards;
}
.menu-form .main-dish-card:hover .fa-check-circle {
  animation: check 2s linear forwards;
}
.menu-form .main-dish-card .description {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-form .main-dish-card .description h3 {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-form .main-dish-card .description p {
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-form .main-dish-card .select {
  position: relative;
}
.menu-form .main-dish-card .select-price {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: white;
  line-height: 15px;
}
.menu-form .main-dish-card .select-check {
  position: absolute;
  opacity: 0;
  background-color: #99e2d0;
  color: white;
  right: 0px;
  text-align: center;
  width: 50px;
  height: 63px;
  line-height: 60px;
  z-index: 200;
}
.menu-form .dessert {
  visibility: hidden;
  animation: menu_content 3s 3s forwards;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.menu-form .dessert-card {
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto 80px;
  box-shadow: 2px 2px #bfbfbf;
  overflow: hidden;
}
.menu-form .dessert-card:hover .select-price {
  animation: price 2s linear forwards;
}
.menu-form .dessert-card:hover .select-check {
  animation: select 2s linear forwards;
}
.menu-form .dessert-card:hover .fa-check-circle {
  animation: check 2s linear forwards;
}
.menu-form .dessert-card .description {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-form .dessert-card .description h3 {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-form .dessert-card .description p {
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-form .dessert-card .select {
  position: relative;
}
.menu-form .dessert-card .select-price {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: white;
  line-height: 15px;
}
.menu-form .dessert-card .select-check {
  position: absolute;
  opacity: 0;
  background-color: #99e2d0;
  color: white;
  right: 0px;
  text-align: center;
  width: 50px;
  height: 63px;
  line-height: 60px;
  z-index: 200;
}

.h2_menu {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
}
.h2_menu--hr {
  width: 35px;
  height: 2px;
  background-color: #99e2d0;
  border: 0 none;
  margin-top: -5px;
}

.order {
  background-image: linear-gradient(#ff79da, #9356dc);
  padding: 10px;
  color: white;
  border-radius: 20px;
  border: 0px;
  box-shadow: 2px 2px #bfbfbf;
  margin: 20px 0px 20px 0px;
  align-self: center;
  width: 50%;
}

@media screen and (min-width: 600px) {
  body {
    max-width: 600px;
    margin: 0 auto;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.container {
  position: relative;
  top: 0;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}
.container .loading {
  animation: loading-container 5s, move 4s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  background-color: transparent;
}
.container .loading .loading-txt {
  height: min-content;
}
.container .loading .loading-txt h2 {
  text-align: center;
  color: #9356dc;
  position: relative;
  z-index: 1;
}
.container .spinner {
  display: block;
  position: relative;
  left: 50%;
  top: 20%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9356dc;
  z-index: 1;
  animation: spinner 2s 70ms linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
.container .spinner:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #ff79da;
  animation: spinner 3s 70ms linear infinite;
}
.container .spinner:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #99e2d0;
  animation: spinner 2s 70ms linear infinite;
}

.content {
  position: relative;
  left: 0%;
  top: 0%;
  height: 100%;
  overflow: hidden;
  animation: content 8s 4s both;
  visibility: hidden;
  width: 100%;
}

header {
  padding-top: 15px;
  padding-bottom: 10px;
  display: grid;
}
header nav {
  margin: auto 6%;
  display: inline-flex;
  line-height: 10px;
}
header nav .fa-arrow-left {
  vertical-align: -50%;
}
header .header-image {
  display: block;
  margin: 0 auto;
  height: 30px;
  position: relative;
}

.locate {
  text-align: center;
  background-color: #f2f2f2;
  padding: 0px 0px 10px 0px;
  margin: 20px 0px 20px 0px;
}
.locate-input {
  background-color: #bfbfbf;
  padding: 10px;
  justify-content: center;
}
.locate-input_field {
  background-color: transparent;
  border: transparent;
  padding-left: 10px;
}
.locate h1 {
  padding: 20px 0px 20px 0px;
  font-weight: 900;
}
.locate p {
  width: 90%;
  margin: 0 auto;
}
.locate-button {
  background-image: linear-gradient(#ff79da, #9356dc);
  padding: 10px;
  color: white;
  border-radius: 20px;
  border: 0px;
  box-shadow: 2px 2px #bfbfbf;
  margin: 20px 0px 20px 0px;
}

.how-it-works {
  display: flex;
  flex-direction: column;
}
.how-it-works h2 {
  margin: 20px 0px 0px 20px;
  font-weight: 900;
}
.how-it-works .steps {
  background-color: #f2f2f2;
  margin: 15px 30px 15px 30px;
  padding: 20px 10px;
  border-radius: 20px;
  display: inherit;
  box-shadow: 2px 2px 1px #bfbfbf;
  font-weight: 500;
}
.how-it-works .steps-number {
  text-align: center;
  height: 17px;
  width: 11px;
  vertical-align: middle;
  font-weight: 400;
  font-size: small;
  padding: 3px 5px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  position: relative;
  margin-left: -22px;
}
.how-it-works .steps-img {
  color: #bfbfbf;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 25px;
}
.how-it-works .steps-text {
  line-height: 25px;
}

.choose {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  align-content: space-between;
}
.choose h2 {
  margin: 20px 0px 0px 20px;
  font-weight: 900;
}
.choose-container {
  margin: 20px;
  border-radius: 20px;
  background-color: white;
}
.choose-container-card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px 56px;
  position: relative;
}
.choose-container-card .new-img {
  position: absolute;
  z-index: 2;
  background-color: #99e2d0;
  right: 30px;
  padding: 3px 20px 3px 20px;
  top: 30px;
}
.choose-container-card .new-img.hidden {
  opacity: 0;
}
.choose-container-card_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
  object-position: center;
  position: relative;
  z-index: 1;
}
.choose-container-card_info {
  display: grid;
  grid-template-columns: 80% 20%;
  height: 53px;
  box-shadow: 2px 2px 1px #bfbfbf;
  border-radius: 20px 0px 20px 20px;
}
.choose-container-card_info--text h3 {
  margin-top: 4px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 15px;
}
.choose-container-card_info--text h4 {
  margin-left: 10px;
  margin-bottom: -10px;
  font-weight: 300;
  font-size: 14px;
}
.choose-container-card .far.fa-heart {
  position: absolute;
  z-index: 1;
  margin-top: 18px;
  right: 15px;
}
.choose-container-card .fas.fa-heart {
  position: absolute;
  z-index: 0;
  visibility: hidden;
  margin-top: 18px;
  right: 15px;
}

/*# sourceMappingURL=style.css.map */
