Footer{
   background-color: black;
   color:white;
 a{color:white;
font-weight:400;}
.footer-title{
   font-family: Shrikhand;
padding-bottom: 20px;
   
}
ul{
   padding: 20px;
   list-style: none;
   li{
      padding-bottom:5px;
      i{padding-right: 10px;}
      
   }
}
}