
@keyframes loading {
   from {
     transform: rotate(1turn);
   }
   to {
     transform: rotate(2turn);
   }
 }
 
 @keyframes loading-container {
   0% {
     transform: translateY(0%);
   }
   100% {
     transform: translateY(-100%);
   }
 }

 
@keyframes content {
   0% {
     transform: translateY(0%);
   }
   100% {
     transform: translateY(100%);
     overflow: visible;
     visibility: visible;
   }
 }