a {
  text-decoration: none;
  color: black;
}
.far:hover {
  background: -webkit-linear-gradient(
    -135deg,
    $color-primary,
    $color-secondary
  );
  -webkit-background-clip: text;
  color: transparent;

  &:hover + .fas {
    visibility: visible;
    background: -webkit-linear-gradient(
      -135deg,
      $color-primary,
      $color-secondary
    );
    -webkit-background-clip: text;
    color: transparent;

    animation: favorite-fill 1s linear;
  }
}
button:hover {
  opacity: opacity(light);
  box-shadow: 2px 2px $dark-color-quaternary2;
}
.how-it-works .steps:hover {
  background-color: $light-color-primary;
  box-shadow: 2px 2px $box-shadow-hover;
  i {
    color: $color-primary;
  }
}
// Hover for menu-cards is found in @mixins

Footer {
  li a:hover {
    color: $color-tertiary;
  }
}
