// @include small-mobile-only;

.menu-image {
  width: 100%;
  background-color: lightgrey;

  &-header {
    position: relative;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    z-index: 3;
    height: 300px;
  }

  figcaption {
    position: relative;
    z-index: 5;
    max-height: 400px;
    top: -50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 75% 25%;
    height: 50px;

    h1 {
      margin-left: 20px;
      margin-top: 20px;
      font-family: Shrikhand;
      font-size: $fontsize-menu_h1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .far {
      @include menu_heart1;
    }
    .fas {
      @include menu_heart2;
    }
  }
}

.menu-form {
  background-color: lightgrey;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .entrees {
    margin-top: -20px;
    visibility: hidden;
    animation-name: menu_content;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    @include menu-flex;

    &-card {
      @include menu-card;
    }
  }
  .main-dish {
    visibility: hidden;
    animation: menu_content 3s 2s forwards;
    @include menu-flex;
    &-card {
      @include menu-card;
    }
  }
  .dessert {
    visibility: hidden;
    animation: menu_content 3s 3s forwards;
    @include menu-flex;
    &-card {
      @include menu-card;
    }
  }
}
.h2_menu {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  &--hr {
    @include h2_menu--hr;
  }
}

.order {
  @include gradient_button;
  align-self: center;
  width: 50%;
}
