@import "variable";
@import "mixin";
@import "function";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
@import "keyframes";
@import "links";
@import "footer";
@import "menu";

@include tablet-only;
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
}
.container {
  // This @include makes scroll bar not appear until after animation
  @include fill-page;
  .loading {
    animation: loading-container 5s, move 4s;
    animation-fill-mode: forwards;
    @include fill-page;
    background-color: transparent;
    .loading-txt {
      height: min-content;
      h2 {
        text-align: center;
        color: $color-primary;
        position: relative;
        z-index: 1;
      }
    }
  }
  .spinner {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-primary;
    z-index: 1;
    animation: spinner $spinner-dur $spinner-delay linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    &:before {
      @include spinner;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-top-color: $color-secondary;
      animation: spinner 3s $spinner-delay linear infinite;
    }
    &:after {
      @include spinner;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-top-color: $color-tertiary;
      animation: spinner $spinner-dur $spinner-delay linear infinite;
    }
  }
}

.content {
  position: relative;
  // z-index: -1;
  left: 0%;
  top: 0%;
  height: 100%;
  overflow: hidden;
  animation: content 8s 4s both;
  visibility: hidden;
  width: 100%;
}

header {
  padding-top: 15px;
  padding-bottom: 10px;
  display: grid;

  // @include small-mobile-only;

  nav {
    margin: auto 6%;
    display: inline-flex;
    line-height: 10px;

    .fa-arrow-left {
      vertical-align: -50%;
    }
  }

  .header-image {
    display: block;
    margin: 0 auto;
    height: 30px;
    position: relative;
  }
}

.locate {
  text-align: center;
  background-color: $color-quaternary;
  padding: $form-padding;
  margin: $section-margin;

  &-input {
    background-color: $dark-color-quaternary;
    padding: 10px;
    justify-content: center;

    &_field {
      background-color: transparent;
      border: transparent;
      // text-align: left;
      padding-left: 10px;
    }
  }

  h1 {
    padding: $form-h1-padding;
    font-weight: $font-weight_title;
  }
  p {
    width: 90%;
    margin: 0 auto;
  }

  &-button {
    @include gradient_button;
  }
}

.how-it-works {
  display: flex;
  flex-direction: column;
  h2 {
    margin: $title-margin;
    font-weight: $font-weight_title;
  }
  .steps {
    background-color: $color-quaternary;
    margin: 15px 30px 15px 30px;
    padding: 20px 10px;
    border-radius: $border-radius;
    display: inherit;
    box-shadow: 2px 2px 1px $box-shadow-dark;
    font-weight: 500;

    &-number {
      text-align: center;
      height: 17px;
      width: 11px;
      vertical-align: middle;
      font-weight: 400;
      font-size: small;
      padding: 3px 5px;
      border-radius: 50%;
      background-color: $color-primary;
      color: $button-color;
      position: relative;
      margin-left: -22px;
    }
    &-img {
      color: $dark-color-quaternary;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 25px;
    }
    &-text {
      line-height: 25px;
    }
  }
}
.choose {
  background-color: $color-quaternary;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  align-content: space-between;

  h2 {
    margin: $title-margin;
    font-weight: $font-weight_title;
  }
  &-container {
    margin: $card-margin;
    border-radius: 20px;
    background-color: $button-color;
    &-card {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 200px 56px;
      position: relative;
      .new-img {
        position: absolute;
        z-index: 2;
        background-color: $color-tertiary;
        right: 30px;
        padding: 3px 20px 3px 20px;
        top: 30px;
        &.hidden {
          opacity: 0;
        }
      }
      &_image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0px 0px;
        object-position: center;
        position: relative;
        z-index: 1;
      }
      &_info {
        display: grid;
        grid-template-columns: 80% 20%;
        height: 53px;
        box-shadow: 2px 2px 1px $box-shadow-dark;
        border-radius: 20px 0px 20px 20px;
        &--text {
          h3 {
            margin-top: 4px;
            margin-left: 10px;
            font-weight: $font-weight_name;
            font-size: $fontsize-main_name;
          }
          h4 {
            margin-left: 10px;
            margin-bottom: -10px;
            font-weight: $font-weight_city;
            font-size: $fontsize-main_city;
          }
        }
      }
      .far {
        &.fa-heart {
          @include home_heart1;
        }
      }

      .fas {
        &.fa-heart {
          @include home_heart2;
        }
      }
    }
  }
}
